@import url("styles.css");
@import url("fonts.css");


@media screen and (max-width: 767px) {
  .nav__logo, 
  .nav__toggle, 
  .nav__name {
    display: none;
  }

  .nav__list {
    position: fixed;
    bottom: 2rem;
    background-color: var(--container-color);
    width: 100%;
    padding: 0px 0px;
    border-radius: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 36px;
    transition: .4s;
  }
}

.nav__link {
  display: flex;
  color: var(--text-color-unactive);
  font-weight: 500;
  transition: .3s;
}

.nav__link i {
  font-size: 1.25rem;
}

.nav__link:hover {
  color: var(--text-color);
}

/* Active link */
.active-link {
  color: var(--primary-color);
}



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .nav__list {
    column-gap: 30px;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    width: 332px;
  }
}

@media screen and (min-width: 767px) {
  .container {
    margin-left: 7rem;
    margin-right: 1.5rem;
  }
  .nav {
    position: fixed;
    left: 0;
    background-color: var(--container-closed);
    width: 3px;
    height: 100vh;
    padding: 0.001rem;
    transition: .4s;
  }

  .nav__logo i {
    font-size: 1.25rem;
    color: var(--primary-color);
  }

  .nav__logo, .nav__link {
    align-items: center;
    column-gap: 0.5rem;
  }
  .nav__list {
    display: grid;
    row-gap: 2.5rem;
    margin-top: 4rem;
    margin-left: 1rem;
  }
  .nav__content {
    overflow: hidden;
    height: 100%;
    font-family: var(--title-font);
  }

  .nav__toggle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--activate-color);
    color: var(--text-color);
    border-radius: 50%;
    font-size: 1.20rem;
    display: grid;
    place-items: center;
    top: 2rem;
    right: -20px;
    cursor: pointer;
    transition: .4s;
  }

  .nav__logo {
    display: flex;
  }

  .nav__logo img { 
    height: 100px;
  }
}

/* Show menu */
.show-menu {
  width: 300px;
  background-color: var(--activate-color);
  transition: 0.3s;
  border-radius: 30px;
}

/* Rotate toggle icon */
.rotate-icon {
  transform: rotate(180deg);
}

/* For 2K & 4K resolutions */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }
}

@media screen and (min-width: 3840px) {
  body {
    zoom: 2.5;
  }
}