@import url("fonts.css");


/* Global Variables */

:root {
  /* Colours */
  --primary-color: #0158de;
  --text-color: #ffffff;
  --text-color-unactive: #cacaca;
  --text-color-alt: #000000;
  --container-closed: #015ade25;
  --chevron-color: #0158de8a;
  --body-color: #2d71d6;
  --activate-color: #0158de8a;
  

  /* Fonts */
  /*.5rem = 8px | 1rem = 16px ...*/
  --title-font: 'akzidenzgroteskregular';
  --body-font: 'questrialregular';
  --normal-font-size: .938rem;
  scroll-behavior: smooth;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow: auto;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* Sections */

section{ 
    background-color: var(--white);
}

/* Text Formatting */

h1 {
    margin: 0;
    font-family: var(--title-font);
    font-style: bold;
    text-align: center;
    font-size: 6rem;
}

h2 {
    margin: 0;
    font-family: var(--title-font);
    font-style: bold;
    text-align: center;
    font-size: 4rem;
}

h3 {
    margin: 0;
    font-family: var(--title-font);
    font-style: normal;
    font-size: 3rem;
    color: var(--text-color)
}

p1 {
    margin: 0;
    font-family: var(--body-font);
    font-style: normal;
    font-size: 35px;
    text-align: justify;
    text-justify: inter-word;
}

/* HERO */

.hero {
    background-color: var(--body-color);
     /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/splash.jpg");

    background-size: cover;
    height: 100vh;
    width: 100vw;
    color:white;
    font-size: 2rem;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.aboutmebutton {

    height: 40px;
    border-radius: 30px;
    background-color: var(--container-closed);
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    margin-top: 20px; 
    text-decoration: none;
    color: var(--text-color);
    align-items: center;
    
}

.aboutmebutton:hover {
    background-color: var(--activate-color);
    transition: 0.3s;
}

.aboutmebutton:active {
    background-color: var(--text-color);
    color: var(--text-color-unactive);
}

.socials {
    margin-top: 30px;
    size: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
    align-items: center

}

.socials svg:hover {
    fill: var(--activate-color);
    transition: 0.3s;
}

/* ABOUT ME PAGE */


.aboutme {
    height: 100vh;
    width: 100vw;
}

.aboutme-heading { 
    background: linear-gradient(to left,var(--chevron-color), var(--primary-color));
    margin-left: 30vw;
    width: 70vw;
    height: 100px;
    padding: 1.5rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 10rem;
}

.aboutme-body {
    font-size: 2rem;
    margin-left: 5vw;
    margin-right: 40vw;

    color: var(--text-color-alt);
    text-align: justify;
    justify-content: space-between;
}

.headshot {
    width: 400px;
    border-radius: 200px;
}

.lab {
    width: 400px;
    border-radius: 200px;
}

.headshot-container {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: -38vh;
    margin-right: 10vw;
}

@media only screen and (max-width: 1400px) {
    .headshot-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5vh
    }

    .aboutme-body {
        display: flex;
        margin-right: 10vw;
    }
}


